{#
# @file
# Examples heading template file.
#
# Available variables:
# - paragraph: Full paragraph entity.
# - content: All paragraph fields.
# - attributes: HTML properties.
# - heading_level: String indicating the heading level.
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block heading %}
  <div{{ attributes.addClass(classes) }}>
    <h{{ heading_level }}>
      {% block content %}
        {{ content }}
      {% endblock %}
    </h{{ heading_level }}>
  </div>
{% endblock %}
